package pages

import "github.com/DeepAung/gradient/website-server/views/layouts"

templ Error(msg, redirect string) {
	@layouts.Simple() {
		<div class="w-max mx-auto mt-6 text-xl text-center">
			<p class="text-error font-bold">Error</p>
			<p class="text-error font-bold">{ msg }</p>
			<a class="block link" href={ templ.SafeURL(redirect) }>Go Back</a>
		</div>
	}
}
